* {
    box-sizing: border-box;
}
body {
    padding: 0%;
    margin: 0;
}
h1  {
    text-align: center;
    margin: 60px;
    font-size: 4rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
}
.container {
    background-color: aqua;
    display: flex;
    /* justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column; */
    /* align-items: flex-start; */
    /* align-items: flex-end; */
}
.container1 {
    display: flex;
    /* justify-content: space-between; */
    /* justify-content: flex-end; */
    justify-content: space-between;
    /* justify-content: center; */
    /* justify-content: space-around; */
}
.box1 {
    background-color: bisque;
    flex: 1;
    /* flex: 2; */
    order: 2;
    justify-content: center;
    align-content: center;
}
.box2 {
    background-color: rebeccapurple;
    flex: 1;
    order: 1;
}
.box3 {
    background-color: blue;
    flex: 1;
    order: 3;
}
.box4 {
    
    /* width: 20%; */
    flex-basis: 20%;
    background-color: cadetblue;
    align-content: center;
}